.form_login{
    background-color: white!important;
    border: none;
    border-bottom: 1px solid #F7F7F6!important;
    border-top: 1px solid #F7F7F6!important;
    border-left: 1px solid #F7F7F6!important;
    border-right: 1px solid #F7F7F6!important;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
	height: 35px!important;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #868B92;
}

.presupuesto{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #868B92;
    font-size: 19px;
}

.card-action{
    background-color: #f5f5f5!important;    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card-content{
    background-color: #ffffff!important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #868B92;
    font-size: 16px;
}