.td_baccarelli {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.panel_tabla {
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.boton_datos {
    width: 180px;
    height: 36px;
    border: none;
    color: white;
    border-radius: 3px;
}

.fondo_amarillo {
    background-color: #EFAC56;
    cursor: pointer !important;
}

.fondo_rojo {
    background-color: #D75452;
    cursor: pointer !important;
}

.fondo_verde {
    background-color: #5CB85C;
    cursor: pointer !important;
}

.fondo_activo {
    background-color: #13acb5;
    cursor: pointer !important;
}

.fondo_espera {
    background-color: #F04596 !important;
    cursor: pointer !important;
}

.nuevo_p {
    color: #5CB85C !important;
    font-weight: 900;
    font-size: 20px;
}